@{
    ViewData["Title"] = "Support Information";
}

<h1>Support Information</h1>

<p>
    For more information on this sample, please visit the Github repository and view the README:
    <a href="https://github.com/Ercenk/ContosoAMPBasic" title="Ercenk / TextAnalyticsPortal | Github" target="_blank">Ercenk / TextAnalyticsPortal on Github</a>
</p>