@{ ViewData["Title"] = "Success"; }

<h1>Success</h1>

Your request has been recorded. A member of the operations team will contact shortly.

<form action="https://maqtextanalyticsdev.azurewebsites.net/">
    <div>
        <input type="submit"
               value="Navigate to Portal"
               class="btn btn-primary" />
    </div>
</form>